body {
  background-color: aliceblue;
    /* background-color: black; */
    /* color: rgb(242, 207, 212); */
}

/* h1 {
  color: palevioletred;
}

h2{
  color: aliceblue;
} */

.container {
    display: flex;
  }

  #films {
    flex: 1;
    margin-left: 0px;
    margin-right: 20px;
    cursor: pointer;
  }

  #first-film {
    flex: 2;
  }

  .pic {
    max-width: 40%;
    max-height: 50%;
    text-align: center;
  }

  .buy-button {
    cursor: pointer;
  }